data/
src/__pycache__/
helper/__pycache__/
__pycache__/
experiments/
library/
.idea/
results to prep.txt
src/all-100-10DTP0.01TWP0.1NT10DTP0.01TWP0.1NT30DTP0.01TWP0.1NT50recommended params.csv
src/all-100-10DTP0.01TWP0.1NT30recommended params.csv
src/all-100-10genresDTP0.01TWP0.1NT30recommended params.csv
src/all-100-10oldcodeDTP0.01TWP0.1NT30recommended params.csv
src/dasdas.py
src/dotproduct.temp
src/topicmodel.py.rej

venv/bin/

src/\.hypothesis/examples/d64b37e99f7f49f8/
src - Copy/
